/* @import url("https://use.typekit.net/ovo7auu.css"); */
@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-black {
  @apply px-4 py-2 font-bold text-center text-white bg-black border border-black rounded;
}
.btn-black:hover {
  @apply text-black transition duration-150 bg-white;
}
.btn-black-outline {
  @apply px-4 py-2 font-bold text-center text-black border border-black rounded;
}
.btn-black-outline:hover {
  @apply text-white transition duration-150 bg-black;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer base {
  
  @font-face {
    /* font-family: pragmatica-extended, sans-serif;
    font-weight: 300;
    font-style: normal; */
font-style: normal;
font-weight: 400;
  }
}
html,
/* body { */
  /* font-family: aktiv-grotesk, sans-serif; */
  /* font-family: neue-haas, sans-serif; */
  /* font-family: neue-haas, sans-serif; */
  /* font-family: franklin-gothic-condensed, sans-serif; */
  /* font-family: forma-djr-text, sans-serif; */
  /* font-family: forma-djr-display, sans-serif; */
/* }, */
#__next {
  height: 100vh;
  min-height: 100vh;
}

h1 {
  font-size: 4rem;
  display: block;
}
p, li, ul {
 font-family: forma-djr-text, sans-serif;
}



/* Below are all the fonts that are used in the project */
.eurostile {
  font-family: eurostile, sans-serif;
}
.eurostile-condensed {
  font-family: eurostile-condensed, sans-serif;
}
.eurostile-extended {
  font-family: eurostile-extended, sans-serif;
}


.forma-djr {
  font-family: forma-djr-display, sans-serif;
}
.forma-djr-deck {
  font-family: forma-djr-deck, sans-serif;
}
.forma-djr-micro {
  font-family: forma-djr-micro, sans-serif;
}
.forma-djr-text {
  font-family: forma-djr-text, sans-serif;
}
.mono45 {
  font-family: mono45-headline, monospace;
}



/* Below are the fonts with a lot of variants or sizes */



.franklin-gothic-urw {
  font-family: franklin-gothic-urw, sans-serif;
}
.franklin-gothic-urw-cond {
  font-family: franklin-gothic-urw-cond, sans-serif;
}
.franklin-gothic-condensed {
  font-family: franklin-gothic-condensed, sans-serif;
}

.aktiv-grotesk {
   font-family: aktiv-grotesk, sans-serif
}
.aktiv-grotesk-thin {
   font-family: aktiv-grotesk-thin, sans-serif;
}



.neue-haas {
font-family: neue-haas-grotesk-display, sans-serif
}
.neue-haas-text {
font-family: neue-haas-grotesk-text, sans-serif
}

